@use '@carbon/react';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');

/* carbon design system 기본 세팅 */
html {
  height: 100vh !important;
}
body,
#root {
  height: calc(100vh - 48px) !important;
  padding: 0;
  margin: 0;
}
.cds--layer-one {
  height: 100%;
}
.cds--header__name--prefix {
  color: #0f62fe !important;
  font-weight: 900;
}

.cds--content {
  margin-left: 48px !important;
  margin-top: 48px !important;
  // border: 1px solid #ccc;
  height: 100%;
  padding: 50px;
}

.login-form {
  width: 40rem;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & > form > div > div {
    width: 100%;
    .cds--btn-set {
      .cds--btn {
        margin-right: 1% !important;
        width: 49.5%;
      }
    }
    p {
      font-size: 0.75em;
      color: rgb(72, 72, 72);
    }
  }
}
.cds--btn-set .cds--btn {
  max-width: 20rem !important;
}

.Toastify {
  font-size: 0.9em !important;
}

.container {
  .con-title {
    font-weight: 900;
    font-size: 2em;
    margin: 15px 0;
  }
}

.add-notification {
  .cds--stack-vertical > * {
    width: 90vw !important;
  }
}

tr {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 20rem;
    .cds--btn {
      width: 100% !important;
    }
    .cds--btn:last-child {
      display: none !important;
    }
  }
}
